@import '../../styles/colors.scss';
@import '~@ctrl/ngx-emoji-mart/picker';

* {
  box-sizing: border-box;
}

.chat-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 1px #000000;
  box-shadow: 0px 0px 10px 1px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  transition: box-shadow 0.125s ease;
  &__image {
    width: 50%;
  }
  p {
    font-size: 40px;
    color: white;
    margin: 0;
    height: 70px;
    transition: color 0.125s ease;
  }
  &:hover,
  &--active {
    box-shadow: inset 0px 0px 10px 1px #000000;
    background-color: white;
  }
}

.box {
  position: absolute;
  background-color: white;
  bottom: 80px;
  right: 90px;
  height: 0;
  width: 0;
  border-radius: 100%;
  border-bottom-right-radius: 0;
  transition: border-top-left-radius 0.25s ease-in-out, height 0.25s ease-in-out,
    width 0.25s ease-in-out, border-radius 0.25s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 1px #000000;
  box-shadow: 0px 0px 10px 1px #000000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &--active {
    height: 500px;
    width: 350px;
    border-radius: 10px;
    .box__body {
      opacity: 1;
      transition: display 0.5s ease-in-out;
    }
  }
  &__title {
    background: $global-background;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    &__text {
      font-size: 20px;
    }
    &__close-btn {
      width: 10px;
      cursor: pointer;
      display: flex;
    }
  }
  &__body {
    height: 80%;
    padding: 20px;
    overflow-y: auto;
    opacity: 0;
    background-color: $off-white;
    &::-webkit-scrollbar {
      width: 10px;
      &-track {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.1);
      }
      &-thumb {
        border: 1px solid #aaa;
        background-color: $global-background;
      }
    }
    &__message {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      &--bot {
        align-self: flex-start;
        background-color: $bot-background;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
      }
      &--human {
        align-self: flex-end;
        background-color: $human-background;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      &--bot,
      &--human {
        padding: 10px;
        max-width: 90%;
        word-wrap: break-word;
        color: $off-white;
        font-size: 15px;
      }
    }
  }
  &__input {
    height: 10%;
    display: flex;
    align-items: center;
    border-top: 1px solid $global-background;
    position: relative;
    input {
      width: 85%;
      height: 100%;
      padding: 10px;
      font-family: "Montserrat-Regular", sans-serif;
      &:focus-visible {
        outline: none;
      }
    }
    &__emoji-mart {
      position: absolute;
      bottom: 0;
      right:0;
    }
    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $global-background;
      width: 15%;
      color: $off-white;
      border: none;
      height: 100%;
      svg {
        width: 20px;
      }
      &:hover {
        background: transparentize($color: $global-background, $amount: 0.2);
      }
    }
  }
}
